.hero {
  width: 100%;
  background-color: blue;
}

.hero-image {
  width: 100%;
  min-height: 565px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-content {
  max-width: 535px;
  min-height: 400px;
  text-align: left;
  padding-top: 75px;
  color: white;
  margin-left: 24px;
  padding-bottom: 20px;
}

.hero-content h1 {
  margin-bottom: 55px;
  font-weight: bold;
  font-size: 48px;
}

.hero-content p {
  margin-bottom: 35px;
  font-size: 20px;
}

.hero-btn {
  max-width: 322px;
  height: 52px;
  background-color: #1579bc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 100px;
}

.hero-bar {
  width: 100%;
  min-height: 130px;
  background-color: black;
  box-shadow: 0px -36px 36px 32px rgba(0, 0, 0, 1);
}

.hero-bar-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.bar-btn {
  width: 282px;
  height: 82px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bar-btn p {
  max-width: 65%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-left: 24px;
}

#btn1 {
  color: #1579bc;
}
#btn2 {
  color: #8b4bcc;
}
#btn3 {
  color: #c41a1f;
}
#btn4 {
  color: #f05523;
}

@media screen and (max-width: 865px) {
  .hero .hero-bar .hero-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-bar .hero-bar-wrapper .bar-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 630px) {
  .hero .hero-bar .hero-bar-wrapper {
    background-color: #f2f0ed;
    padding-top: 20px;
  }
}

@media screen and (max-width: 550px) {
  .hero-content {
    padding: 20px;
  }
}
